html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:nth-child(1) {
  top: 6em;
  left: 20%;
  z-index: 1;
  transform: rotate(-10deg);
}

.polaroid:nth-child(2) {
  top: 8em;
  left: 30%;
  z-index: 3;
  transform: rotate(5deg);
}

.polaroid:nth-child(3) {
  top: 6em;
  left: 40%;
  z-index: 2;
  transform: rotate(30deg);
}

.polaroid:hover {
  box-shadow: 1px 6px 6px rgba(0, 0, 0, .5);
  transform: scale(1);
  z-index: 10;
}

figcaption {
  transform: translate(30%, -80%);
}
