html {
  background-color: #e2e2e2;
  position: absolute;
  font-family: sans-serif;
  vertical-align: center;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid:first-child {
  transform: rotate(-10deg);
  position: absolute;
  top: 50em;
  left: 25em;
  z-index: 1;

}

.polaroid:nth-child(2) {
  transform: rotate(10deg);
  position: absolute;
  top: 50em;
  left: 30em;
  z-index: 3;
}

.polaroid:last-child {
  transform: rotate(40deg);
  position: absolute;
  top: 50em;
  left: 35em;
  z-index: 2;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  transform: scale(1.1);
  z-index: 10;
}

figcaption {
  transform: translate(30%,-80%);
}
